<html lang="en">

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawLanguageChart();
            drawIssuesChart();
        }

        function drawIssuesChart() {
            let array = [
                ['Description', 'Count'],
                                ["Add curly braces around the nested statement(s) in this 'if' block.", 34],
                                ["Make this field 'private' and encapsulate it in a 'public' property.", 17],
                                ["Refactor this method to have parameters matching all the type parameters.", 13],
                                ["Consider refactoring this method in order to remove the need for this 'out' modifier.", 9],
                                ["Consider refactoring this method in order to remove the need for this 'ref' modifier.", 8],
                                ["Implement alternative method 'Multiply' for the operator '*'.", 6],
                                ["Refactor the code in order to remove this break statement.", 5],
                                ["Implement this method or throw 'NotSupportedException' instead.", 5],
                                ["Implement 'IEquatable<T>' in value type 'Enumerator'.", 5],
                                ["Refactor this delegate to use 'System.EventHandler<TEventArgs>'.", 4],
                            ];

            for (let i = 0; i < array.length; i++) {
                if (array[i][0].length > 50) {
                    array[i][0] = array[i][0].substring(0, 49) + '...';
                }
            }

            const data = new google.visualization.arrayToDataTable(array);
            const options = {
                title: 'Distribution issues by category',
                bars: 'horizontal',
                legend: { position: "none" },
            }

            const chart = new google.charts.Bar(document.getElementById('issues-chart'));
            chart.draw(data, options);
        }

        function drawLanguageChart() {
            const totalCount = 74;
            const array = [
                ['Language', 'Count'],
                                ['C#', 61],
                                ['YAML', 6],
                                ['MSBuild script', 3],
                                ['liquid', 2],
                                ['Visual Studio Solution', 1],
                            ];

            const other = totalCount - array.slice(1, array.length).reduce((partialSum, a) => partialSum + a[1], 0);
            array.push(["Other", other]);

            const data = google.visualization.arrayToDataTable(array);

            const options = {
                title: 'Language'
            };

            const chart = new google.visualization.PieChart(document.getElementById('language-piechart'));

            chart.draw(data, options);
        }

        function onLoad() {
            const date = new Date();
            document.getElementById('date').textContent = date.toUTCString();

            calculateMaintainabilityIndex();
        }

        function calculateMaintainabilityIndex() {
            const errorCount = 0;
            const warningCount = 179;
            const infoCount = 108;

            let errorIndex =
                errorCount * 10 +
                warningCount * 1 +
                infoCount * 0.1;

            errorIndex = Math.max(errorIndex, 1);
            errorIndex = 2088 / errorIndex;
            errorIndex = Math.log2(errorIndex);
            errorIndex = Math.round(errorIndex * 100) / 100;

            document.getElementById('maintainability-index').textContent = errorIndex;

            let spanElement = document.getElementById('maintainability-text');
            if (errorIndex >= 5) {
                spanElement.textContent = "This level is considered as good";
                spanElement.style.color = "#6FAC47";
            }
            else if (errorIndex >= 4) {
                spanElement.textContent = "errorIndex >= 4";
                spanElement.style.color = "#6FAC47";
            }
            else if (errorIndex >= 3) {
                spanElement.textContent = "errorIndex >= 3";
                spanElement.style.color = "#6FAC47";
            }
            else if (errorIndex >= 2) {
                spanElement.textContent = "errorIndex >= 2";
                spanElement.style.color = "#6FAC47";
            }
            else if (errorIndex >= 1) {
                spanElement.textContent = "errorIndex >= 1";
                spanElement.style.color = "#6FAC47";
            }
            else if (errorIndex < 1) {
                spanElement.textContent = "errorIndex < 1";
                spanElement.style.color = "#6FAC47";
            }
        }
    </script>

    <style>
        <!--
        /* Font Definitions */
        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }

        @font-face {
            font-family: "Calibri Light";
            panose-1: 2 15 3 2 2 2 4 3 2 4;
        }

        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0 0 8.0pt;
            line-height: 107%;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
        }

        h1 {
            mso-style-link: "Heading 1 Char";
            margin: 12.0pt 0 0;
            line-height: 107%;
            page-break-after: avoid;
            font-size: 16.0pt;
            font-family: "Calibri Light", sans-serif;
            color: #2F5496;
            font-weight: normal;
        }

        h2 {
            mso-style-link: "Heading 2 Char";
            margin: 2.0pt 0 0;
            line-height: 107%;
            page-break-after: avoid;
            font-size: 13.0pt;
            font-family: "Calibri Light", sans-serif;
            color: #2F5496;
            font-weight: normal;
        }

        h3 {
            mso-style-link: "Heading 3 Char";
            margin: 2.0pt 0 0;
            line-height: 107%;
            page-break-after: avoid;
            font-size: 12.0pt;
            font-family: "Calibri Light", sans-serif;
            color: #1F3763;
            font-weight: normal;
        }

        @page WordSection1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.0in 1.0in 1.0in;
        }

        div.WordSection1 {
            page: WordSection1;
        }
        -->
    </style>

</head>

<body onload="onLoad()">
<div class=WordSection1>
    <h1>Overview of Report <span id="date"></span></h1>

    <p class=MsoNormal>This report contains details of C# code state. Automated code analysis tools like Roslyn were used to evaluate level of issues.</p>

    <h1>Repository Details</h1>

    <h2>General information</h2>

    <p class=MsoNormal>
        <b>Maintainability index:</b> <span id="maintainability-index"></span> (high quality codebase index is equal or higher to 5) - <b><span id="maintainability-text"></span></b>
    </p>

    <p class=MsoNormal><b>Source Code Size:</b>
        XS (x <= 1000) - <b><span style='color:#6FAC47'> Codebase size is good </span></b>
    </p>

    <p class=MsoNormal><b>Programming languages statistics:</b></p>

    <div id="language-piechart" style="width: 900px; height: 500px;"></div>

    <h2>File Size Details</h2>

    <p class=MsoNormal>
        <b>Total files found:</b> 61 - CSharp and CSHTML files
    </p>

    <p class=MsoNormal>
        <b>Biggest file size:</b> 204 (LoC) - <b><span style='color:#C45911'>File size is acceptable but should be moved to smaller numbers</span></b>
    </p>

    <p class=MsoNormal>
        <b>Average file size: </b> 34 (LoC) - <b><span style='color:#6FAC47'>File size is good</span></b>
    </p>

    <h3>Top 10 biggest files for primary development language (C#, cshtml)</h3>

    <table class=MsoTableGrid style='border-collapse:collapse;border:none'>
        <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'><b>File Name</b></p>
            </td>
            <td style='width:117.0pt;border:solid black 1.0pt; border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:107%'><b>Size</b></p>
            </td>
            <td style='width:117.0pt;border:solid black 1.0pt; border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:107%'><b>Lines of Code</b></p>
            </td>
            <td style='width:117.0pt;border:solid black 1.0pt; border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'><b>File Page</b></p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>FastList.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>M</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>204</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>src/Tea2D/Core/Collections/FastList.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>ValueString.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>M</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>199</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>src/Tea2D/Core/Memory/ValueString.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>ComponentsFilter_Templates.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>M</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>193</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>src/Tea2D/Ecs/ComponentFilters/ComponentsFilter_Templates.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>ValueStringTests.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>M</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>132</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>test/Tea2D.Tests/Core/Memory/ValueStringTests.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>LoggerTests.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>M</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>117</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>test/Tea2D.Tests/Core/Diagnostics/Logging/LoggerTests.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Game.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>96</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>examples/SimpleGame/Game.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>ComponentsTuple.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>80</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>src/Tea2D/Ecs/ComponentFilters/ComponentsTuple.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>ComponentsFilter.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>75</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>src/Tea2D/Ecs/ComponentFilters/ComponentsFilter.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>ObjectPoolTests.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>59</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>test/Tea2D.Tests/Core/Memory/Pools/ObjectPoolTests.cs</p>
            </td>
        </tr>
                <tr>
            <td style='width:117.0pt;border:solid black 1.0pt; border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>ObjectPool.cs</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>46</p>
            </td>
            <td style='width:117.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>src/Tea2D/Core/Memory/Pools/ObjectPool.cs</p>
            </td>
        </tr>
            </table>

    <h2>C# Code Issues</h2>

    <p class=MsoNormal>Distribution issues by category:</p>
    <div id="issues-chart" style="width: 900px; height: 500px;"></div>

    <h2>Top 10 of most frequent issues</h2>

    <p class=MsoNormal>These are the issues which most frequently appear in your source code. Issues with low and medium severity does not cause potential quality issues but may cause inconvenies during </p>

    <table class=MsoTableGrid style='border-collapse:collapse;border:none'>
        <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:107%'>Issue ID</p>
            </td>
            <td style='width:52.6pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Severity</p>
            </td>
            <td style='width:71.25pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Title</p>
            </td>
            <td style='width:94.55pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Description</p>
            </td>
            <td style='width:197.05pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:107%'>Count</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S113</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Info</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Files should contain an empty newline at the end </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Add a new line at the end of the file &#39;DrawableComponent.cs&#39;.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>60</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S121</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Info</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Control structures should use curly braces </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Add curly braces around the nested statement(s) in this &#39;foreach&#39; block.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>37</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S4069</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Operator overloads should have named alternatives </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Implement alternative method &#39;Subtract&#39; for the operator &#39;-&#39;.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>17</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3874</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>&quot;out&quot; and &quot;ref&quot; parameters should not be used </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Consider refactoring this method in order to remove the need for this &#39;ref&#39; modifier.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>17</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S1104</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Fields should not have public accessibility </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Make this field &#39;private&#39; and encapsulate it in a &#39;public&#39; property.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>17</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S4018</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Generic methods should provide type parameters </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Refactor this method to have parameters matching all the type parameters.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>13</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3898</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Value types should implement &quot;IEquatable&lt;T&gt;&quot; </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Implement &#39;IEquatable&lt;T&gt;&#39; in value type &#39;DrawableComponent&#39;.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>13</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S109</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Magic numbers should not be used </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Assign this magic number &#39;15&#39; to a well-named (variable|constant), and use the (variable|constant) instead.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>12</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3900</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Arguments of public methods should be validated against null </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Refactor this method to add validation of parameter &#39;window&#39; before using it.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>9</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3717</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Track use of &quot;NotImplementedException&quot; </p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Implement this method or throw &#39;NotSupportedException&#39; instead.</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>5</p>
            </td>
        </tr>
        
    </table>

    <h2>Top 10 of most severe issues</h2>
    <p class=MsoNormal>Table below contains list of issues which are considered to be potential defects and require attention:</p>

    <table class=MsoTableGrid style='border-collapse:collapse;border:none'>
        <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:107%'>Issue ID</p>
            </td>
            <td style='width:52.6pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Severity</p>
            </td>
            <td style='width:71.25pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Title</p>
            </td>
            <td style='width:94.55pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Description</p>
            </td>
            <td style='width:197.05pt;border:solid black 1.0pt;border-left:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:107%'>Count</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S1104</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Fields should not have public accessibility</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>17</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3874</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>&quot;out&quot; and &quot;ref&quot; parameters should not be used</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>17</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S4069</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Operator overloads should have named alternatives</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>17</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3898</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Value types should implement &quot;IEquatable&lt;T&gt;&quot;</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>13</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S4018</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Generic methods should provide type parameters</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>13</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S109</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Magic numbers should not be used</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>12</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3900</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Arguments of public methods should be validated against null</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>9</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S3717</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Track use of &quot;NotImplementedException&quot;</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>5</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S1135</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Track uses of &quot;TODO&quot; tags</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>4</p>
            </td>
        </tr>
                <tr>
            <td style='width:52.6pt;border:solid black 1.0pt;border-top:none;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>S2328</p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>Warning</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>&quot;GetHashCode&quot; should not reference mutable fields</p>
            </td>
            <td style='width:197.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'></p>
            </td>
            <td style='width:52.6pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0 5.4pt 0 5.4pt'>
                <p class=MsoNormal style='margin-bottom:0;line-height:normal'>4</p>
            </td>
        </tr>
        
    </table>

    <p class=MsoNormal>In many cases issues specified in the table above require fixes. Please plan technical activities to reduce amount of these issues.</p>
</div>
</body>
</html>