<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function onLoad() {
            const date = new Date();
            document.getElementById('date').textContent = date.toUTCString();
        }
        
        function drawCharts() {
            drawVulnarabilitiesChart();
            drawDependenciesChart();
        }
        
        function drawVulnarabilitiesChart() {
            const totalCount = 0 + 0 + 0;
            const array = [
                ['BaseScore', 'Value'],
                ['0 - 4', 0],
                ['4 - 8', 0],
                ['8 - 10', 0],
            ];
            const data = google.visualization.arrayToDataTable(array);
            const options = {
                title: 'Score rates for vulnarabilities'
            };
            const chart = new google.visualization.PieChart(document.getElementById('vulnarabilities-rate-piechart'));
            chart.draw(data, options);
        }

        function drawDependenciesChart() {
            const totalCount = 10;
            const array = [
                ['Type', 'Number'],
                ['Healthy', 10 - 0],
                ['Vulnarable', 0],
            ];
            const data = google.visualization.arrayToDataTable(array);
            const options = {
                title: 'Rate of vulnarable dependencies'
            };
            const chart = new google.visualization.PieChart(document.getElementById('dependencies-rate-piechart'));
            chart.draw(data, options);
        }
    </script>

</head>
<body onload="onLoad()">
<div class=WordSection1>
    <h1>Overview of Report <span id="date"></span></h1>
    
    <p class=MsoNormal>This report contains details of project dependencie's vulnarability. OWASP Dependency check was used to find vulnarable dependencies.</p>
    
    <h2>General information</h2>
    <p class=MsoNormal>
        <b>Total number of dependencies:</b> 10
    </p>
    <p class=MsoNormal>
        <b>Total number of vulnarabilities:</b> 0
    </p>
    <table>
	    <tr>
           <th>
                <div id="dependencies-rate-piechart" style="width: 450px; height: 350px;"></div>
            </th>
            <th>
                <div id="vulnarabilities-rate-piechart" style="width: 450px; height: 350px;"></div>
            </th>
        </tr>
	</table>
    <h2 class=MsoNormal>Vulnarable dependencies</h2>
    
    
</div>
</body>
</html> 